<div class="user-serch-form">
    <h1 class="page-title">フォロー一覧</h1>
    <div class="serch-form">
        <%= form_tag("/users/index" , method: :get) do %>
            <input name="serch" class="serch-indent">
            <input type="submit" value="検索" class="submit-btn">
        <% end %>
    </div>
</div>
<div class="users-index">
    <% @users.each do |user| %>
        <%= link_to "/users/#{user.id}" do %>
            <div class="user-cont">
                <div class= "user-img">
                    <%= image_tag("/user_images/#{user.profiel_image}") %>
                </div>
                <div class="prof-sentence">
                    <h4 class="user-name"><%= user.name %></h4>
                    <p class="user-introduction"><%= safe_join(user.introduction.to_s.split("\n"),tag(:br)) %></p>
                </div>
            </div>
        <% end %>
    <% end%>
</div>