<img src="<%= "/user_images/#{@user.profiel_image}"%>">
<h2><%= @user.name %></h2>
<% if @user == @current_user %>
    <p> <%= @user.email %></p>
<% end %>
<h4><%= @user.introduction %></h4>
<p><%= link_to @user.followings.count, followings_user_path(@user) %>フォロー<%=  link_to @user.followers.count, followers_user_path(@user) %>フォロワー</p>

<% if @user == @current_user %>
    <p><%= link_to "編集", "/users/#{@user.id}/edit" %></p>
<% else %>
    <% if @user.is_followed_by?(@current_user) %>
        <%= link_to "フォロー解除",user_relationship_path(@user), data: { turbo_method: :delete}%>
    <% else %>
        <%= link_to "フォロー",user_relationships_path(@user), data: { turbo_method: :post}%>
    <% end %>
<% end %>
<h2>Posts</h2>
<% @posts.each do |post| %>
    <%= link_to image_tag("/post_images/#{post.image}") , "/posts/#{post.id}" %>
<% end %>
<h2>Likes</h2>
<% @likes.each do |like|%>
    <%= link_to image_tag("/post_images/#{like.post_id}.jpg") , "/posts/#{like.post_id}"%>
<% end %>