<div class="show-profiel">
    <div class="show-profiel-image">
        <img src="<%= "/user_images/#{@user.profiel_image}"%>">
    </div>
    <div class="show-profiel-right">
        <div class="right-name-and-edit">
            <p class="right-name"><%= @user.name %></p>
            <% if @user == @current_user %>
                <%= link_to image_tag("setting.png"),"/users/#{@user.id}/edit" %>
                <%= link_to image_tag("logout.png") , "/logout" , data: { turbo_method: :post }%>

            <% end %>
        </div>
        <div class="right-seconds">
            <p class="post-count"><%= "投稿#{@posts.length}件" %></p>
            <%= link_to "フォロー#{@user.followings.count}人", followings_user_path(@user) %>
            <%= link_to "フォロワー#{@user.followers.count}人", followers_user_path(@user) %>
        </div>
        <p><%= @user.introduction %></p>
        
        <% if @user != @current_user %>
            <div class="follow-unfollow">
                <% if @user.is_followed_by?(@current_user) %>
                    <%= link_to("フォロー解除",user_relationship_path(@user), data: { turbo_method: :delete}, class: "unfollow-btn") %>
                <% else %>
                    <%= link_to("フォロー",user_relationships_path(@user), data: { turbo_method: :post},class: "follow-btn")%>
                <% end %>
            </div>
        <% end %>
    </div>
</div>
<div class="tab" id="js-tab">
    <div class="show-titles">
        <h2 class="show-tab-title is-active" data-nav="0">Posts</h2>
        <h2 class="show-tab-title" data-nav="1">Likes</h2>
    </div>
    <div class="show-tab-content" data-content="0">
        <% @posts.each do |post| %>
            <div class="show-post-body">
                <%= link_to image_tag("/post_images/#{post.image}") , "/posts/#{post.id}" %>
            </div>
        <% end %>
    </div>
    <div class="show-tab-content" data-content="1">
        <% @likes.each do |like|%>
            <div class="show-post-body">
                <%= link_to image_tag("/post_images/#{like.post_id}.jpg") , "/posts/#{like.post_id}"%>
            </div>
        <% end %>
    </div>
</div>