<h1 class="page-title">投稿一覧</h1>
<div class="serch-form">    
    <%= form_tag("/posts/index" , method: :get) do %>
        <input name="serch" class="serch-indent">
        <input type="submit" value="検索">
    <% end %>
</div>
    <% @posts.each do |post| %>
        <div class="posts">
            <div class="icon-and-name">
                <%= link_to image_tag("/user_images/#{post.user.profiel_image}") , "/users/#{post.user.id}" %>
                <p><%= post.user.name %></p>
            </div>
            <div class="post-body">
                <%= link_to image_tag("/post_images/#{post.image}") , "/posts/#{post.id}" %>
            </div>
        </div>
    <% end %>

<div class="js-post">
    <h1 class="page-title">新規投稿</h1>
    <div class="post-container">
        <%= form_tag("/posts/create",{multipart:true}) do %>
            <p>画像</p>
            <input name="image" type="file" class="post-picture">
            <br>
            <input name="content" class="post-body">
            <br>
            <input type="submit" value="投稿" class="post-submit">
        <% end %>
    </div>
    <button>閉じる</button>
</div>