<img src="<%= "/user_images/#{@post.user.profiel_image}"%>">
<h2><%= @post.user.name %></h2>
<img src="<%= "/post_images/#{@post.image}" %> ">
<h4><%= @post.content %></h4>

<% if Like.find_by(user_id: @current_user.id , post_id: @post.id)%>
    <%= link_to image_tag("like.png"),"/likes/#{@post.id}/destroy" ,data: { turbo_method: :post} %>
    <p><%= @likes_count %></p>
<% else %>
    <%= link_to image_tag("unlike.png"),"/likes/#{@post.id}/create", data: { turbo_method: :post} %>
    <% if @likes_count > 0 %>
        <p><%= @likes_count %></p>
    <% end %>
<% end %>

<% @comments.each do |comment| %>
    <p><%= comment.user.name %> : <%=comment.comment %></p>
<% end %>

<%= form_tag("/comments/#{@post.id}/create") do %>
    <input name="comment">
    <input type="submit" value="コメント">
<% end %>

<p><%= link_to"編集", "/posts/#{@post.id}/edit"%></p>
<p><%= link_to"削除", "/posts/#{@post.id}/destroy" ,data: { turbo_method: :post}%></p>
