<!DOCTYPE html>
<html>
  <head>
    <title>MiaowanRe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <header>
      <div class="header-container">
        <div class="header-logo">
            <% if @current_user %>
              <h2><%= link_to "MiaoWan" , "/posts/index" %></h2>
            <% else %>
              <h2><%= link_to "MiaoWan" , "/" %></h2>
            <% end %>
        </div>
        <div class="header-icons">
          <ul class='heaer_nav'>
          <% if !@current_user %>
            <li><%= link_to image_tag("posts.png"),"/posts/index"%></li>
            <li><%= link_to image_tag("signup.png"),"/signup"%></li>
            <li><%= link_to image_tag("enter.png"),"/login"%></li>
          <% else%>
            <li><%= link_to image_tag("dog&cat.png"),"/users/index"%></li>
            <li><%= link_to image_tag("/user_images/#{@current_user.profiel_image}") , "/users/#{@current_user.id}" %></li>
            <li><%= link_to image_tag("post.png") , "/posts/new" %></li>
          <% end%>
          </ul>
        </div>
      </div>
    </header>
    <% if flash[:notice]%>
      <div class="flash">
          <%= flash[:notice]%>
      </div>
    <% end %>
      <%= yield %>
  </body>
</html>
